@use "../presets" as *;
@use "../mixins" as *;

.btn {
  @include btn;
  font-size: $font-size-md;
  padding: 0.5em 1em;



  &--primary {
    background-color: rgba($color-primary, 0.8);
    border: 2px solid black;

    @include sm-min {
      min-width: 350px;
      min-height: 60px;
    }

    @include sm {
      width: 100%;
      min-height: 60px;
    }
  }

  &--light {
    background-color: rgba($color-white, 0.1);

    @include lg-min {
      padding: 1rem 4.2725rem;
    }

    @include lg {
      font-size: $font-size;
      padding: 0.65rem 3.03rem;
    }

    @include md {
      padding: 0.4rem 2.1rem;
    }
  }

  &--submit {
    border: 2px solid transparent;
    border-bottom-color: $color-gray;
    background-color: rgba($color-white, 0.1);
    color: $color-white;
    padding: 1px 30px;
    height: 60px;
    width: 100%;

    @include lg-min {
      font-size: $font-size-xmd;
    }

    @include lg-md {
      font-size: $font-size;
    }

    &:hover {
      border: 2px solid $color-white;
    }
  }

  &:hover {
    background-color: $color-accent;
  }
}

.input {
  @include input;

  &::placeholder {
    color: $color-gray;
  }
}