@use "../presets" as *;
@use "mixins" as *;
@use "mixins-media" as *;

%section {
  @include lg-min {
    padding: 6.25rem 0;
  }

  @include lg {
    padding: 5rem 0;
  }

  @include md {
    padding: 3.75rem 0;
  }
}

%container {
  margin-inline: auto;
  width: min(100% - $gap-x2, $container-size);
}