@use "../../presets" as *;
@use "../../mixins" as *;

.header-logo {
  &__link {
    font-size: $font-size-lg;
    font-weight: 400;
    letter-spacing: 5px;
    line-height: 1.7581rem;
  }
  &__accent {
    display: inline-block;
    padding: 0.84rem 0.25rem 0.84rem 0.27rem;
    border: 3px $color-highlight solid;
    margin-right: 3px;
  }
}
