@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  padding: 20px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;

  @include md {
    @include box-shadow;
    background-color: rgba(68, 89, 110, 0.25);
  }

  &__container {
    @extend %container;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: $gap;
  }
}